          @font-face {
              font-family: IRANSans;
              src: url('../fonts/iransans/IRANSansWeb.woff') format('woff');
          }
          
          body {
              font-family: IRANSans !important;
          }
          
           :root {
              --border-color: #EBEBEB;
              --text-color: #9D9D9D;
              --icon-color: #383A39;
          }
          
          ul,
          li,
          ol {
              list-style-type: none;
          }
          
          .head-left {
              font-family: IRANSans !important;
              outline: 0;
              border: 1px solid var(--border-color);
              background-color: #F8F8F8;
          }
          
          .head-left button {
              border: 0;
              background-color: inherit;
          }
          
          .head-left span {
              color: var( --text-color);
              font-size: calc(0.5rem + 0.5vw);
          }
          
          .head-left i,
          .head-right li i {
              color: var( --icon-color);
              font-size: calc(0.5rem + 0.5vw);
          }
          
          .Myslide button {
              width: 0.5rem !important;
              height: 0.5rem !important;
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%;
          }